* {
    margin:0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width:50%;
    background-color: rgb(124, 134, 134);
    margin-top: 50px;
    padding:30px;
}

.survey_input {
    border: 2px black solid;
    margin:5px;
    padding:5px;
    box-shadow: 2px 2px;

}