<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>Show Page</h1>
    <a href="/edit/{{one_show.id}}/show">edit</a>
    <a href="/delete/{{one_show.id}}">delete</a>



    <h1>Welcome {{session.first_name}}!!</h1>

    <table>
        <p>Description: {{one_show.description}}</p>
        <br>
        <p>Creator: {{one_show.name}}</p>
        <br>
        <p>Date Made: {{one_show.date}}</p>


</body>

</html>